/* ------------------------------------------------------------ */
/* imports and utilities */

/* 3rd-party CSS files */
@import 'vendor/h5bp-head.css';
@import 'vendor/normalize.css';
@import 'vendor/h5bp-tail.css';

/* use a more intuitive box sizing model (http://is.gd/wNVjAo) */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

img, object { max-width: 100%; }

body {
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	color: #222;
}

.container {
	margin: 2em auto 2em auto;
	padding: 1em 6em 4em 4em;
	width: 800px;
	border-top: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
	border-right: 2px solid #ccc;
	border-left: 2px solid #ccc;
	background: #E6FCEE;
	
}

ul {
	margin: 1em 0 0.5em 0;
	font-weight: normal;
	font-size: 0.8em;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	
}

ol {
	margin: 1em 0 0.5em 0;
	font-weight: normal;
	font-size: 0.8em;
	text-transform: uppercase;
	letter-spacing: 0.15em;
}

em {
	font-weight: bolder;
}

h1 {
	font-size: 3em;
	font-family: 'Special Elite', cursive;
}

h2 {
	font-family: 'Special Elite', cursive;
}

p {
	margin: 1em 0 0.5em 0;
	font-weight: normal;
	font-size: 0.8em;
	text-transform: uppercase;
	letter-spacing: 0.15em;
}

strong {
	font-style: bold;
}

}
